html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: mintcream;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
}

h2 {
    font-size: 2.7rem;
    margin: 1rem 0;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    padding: .5rem 2rem;
    margin: .8rem 1rem;
    border-radius: 1rem;
    border-color: darkslategrey;
}

footer {
    margin: 1rem;
}

a {
    color: darkslategrey;
}

.rock {
    font-family: 'Archivo Black', sans-serif;
    font-size: 4.5rem;
}

.paper {
    font-family: 'Arvo', serif;
}

.scissors {
    font-family: 'Satisfy', cursive;
    font-size: 4.3rem;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-text {
    min-height: 4rem;
    font-size: 1.5rem;
    margin: 1rem;
}

.game-space {
    background-color: white;
    width: 50%;
    min-height: 30rem;
    display: flex;
    justify-content: space-evenly;
}

.player-space {
    background-color: rgb(242, 190, 20);
    border: 2px solid darkslategrey;
    width: 45%;
}

.player-space p,
.computer-space p {
    display: none;
}

.player-space img,
.computer-space img {
    width: 85%;
    margin-top: 2rem;
}

.computer-space {
    background-color: rgb(242, 190, 20);
    border: 2px solid darkslategrey;
    width: 45%;
}

.choice {
    margin: 2rem 0;
}

.controls {
    display: none;
}

.new-game-button {
    display: none;
}